:80 {
log  {
	#output file  access.log
	#format single_field common_log
}
encode gzip zstd
header /api/ {

Access-Control-Allow-Origin *

}
route /api/basic/* {
	uri strip_prefix /api/basic
	reverse_proxy localhost:8081    {
       # header_up Host {http.reverse_proxy.upstream.hostport}
       # header_down Access-Control-Allow-Headers *
       # header_down Access-Control-Allow-Origin *
    }

}


handle_errors {
	rewrite * /{http.error.status_code}.html
	file_server
}

}
